Bovine foamy virus
Bovine herpesvirus 1
Bovine herpesvirus 5
BK polyomavirus
Bovine leukemia virus
Bandicoot papillomatosis carcinomatosis virus type 1
Bandicoot papillomatosis carcinomatosis virus type 2
Duck enteritis virus
Epstein Barr virus
Gorilla gorilla gorilla polyomavirus 1
Herpes B virus
Human cytomegalovirus
Human herpesvirus 6B
Human immunodeficiency virus 1
Herpes Simplex Virus 1
Herpes Simplex Virus 2
Herpesvirus of turkeys
Infectious laryngotracheitis virus
JC polyomavirus
Murine cytomegalovirus
Merkel cell polyomavirus
Gallid alphaherpesvirus 2
Gallid herpesvirus 1 (serotype 2)
Murine herpesvirus 68
Pseudorabies virus
Pan troglodytes verus polyomavirus 2a
Raccoon polyomavirus
Rhesus lymphocryptovirus
Macacine gammaherpesvirus 5
Simian foamy virus
Simian virus 40
Torque teno virus
Herpesvirus saimiri (strain 11)
Human gammaherpesvirus 8